body{
    background-color: #202b38;
}
.button{
    background-color: #1c2a3c;
    font-size: 14px;
}
.button:hover{
    background-color: #2f4765;
}
.image{
    background-image: url('/images/image.png');
}
.bg{
    background-color: #202b38;
}
.btn:hover,.btn:active{
    background-color: #2f4765;
    color: white;
}
::-webkit-scrollbar {
    width: 3px; /* Adjust the width as needed */
}
.active-link {
    background-color: #2f4765;
    color: white !important;
}
.link {
    background-color: #f1f1f1; /* Ensure default background for inactive links */
}
.active-btn{
    background-color: #2f4765;
    color: white !important;
}